
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/Home/dashboard.js"></script>
<div>
    <h1>Início</h1>

    <div>
        <canvas id="grafico"></canvas>
    </div>
</div>

